.MMM-GmailFeed .mailtable {
  font-size: 20px;
  line-height: 25px;
}

.MMM-GmailFeed .colfrom {
  width: 1px;
  padding-right: 8px;
  text-align: left;
  font-weight: 200;
  white-space: nowrap;
  font-weight: 300;
  font-size: 20px;
  text-align: left;
}

.MMM-GmailFeed .colsubj {
  white-space: nowrap;
  font-size: 20px;
  text-align: left;
}

.MMM-GmailFeed .coldt {
  width: 1px;
  white-space: nowrap;
  font-weight: 300;
  font-size: 20px;
  text-align: right;
}

.MMM-GmailFeed .coltm { 
  width: 1px;
  white-space: nowrap;
  font-weight: 300;
  font-size: 20px;
  text-align: right;
}

.MMM-GmailFeed .hidden {
  display: none;
}

.notification {
  color: #fff;
  text-decoration: none;
  padding: 0px 0px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  margin: 5px;
}

.MMM-GmailFeed .notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 3px 10px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
}

